html {
  font-family: Helvetica;
  text-align: center;
}

h1
h2
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size:32px;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

.header h2 {
  font-size: 23px;
}

.sub-header {
  font-size 23px;
}

.nav {
  font-size: 18px;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
